<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Time to Solve | Building answers for the Climate Crisis</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|PT+Serif:700" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/style.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <header class="site-header" style="position: absolute;">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <!--<a href="#">
                                <img src="dist/images/logo.svg" alt="Blue logo">
                            </a>-->
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
          <section class="hero" style="padding-top:40px;">
				<div class="hero-left-decoration is-revealing"></div>
				<div class="hero-right-decoration is-revealing"></div>
                <div class="container">
                    <div class="hero-inner">
            <div class="hero-illustration">
              <%= image_tag 'tts-logo.png', alt: 'Time to Solve Logo' %>
  					</div>
						<div class="hero-copy" style="padding-top: 5%;">
              <%= image_tag 'ezgif1.com-optimize.gif', alt: 'Time to Solve Logo' %>
                        <h1 class="hero-title mt-0 is-revealing">Building answers for the climate crisis.</h1>
  <!-- <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/pWgyy_rlmag' frameborder='0' allowfullscreen></iframe></div> -->
                          <p class="hero-paragraph is-revealing">Doing <strong>research</strong>, connecting <strong>innovators</strong>, and identifying the problems we're best positioned to <strong>solve.</strong> </p>
	                        <p class="hero-cta mb-0 is-revealing">
								<!-- <a class="button button-primary button-shadow" href="#" style="background: darkgreen;">View Our GoFundMe</a> -->
                <a class="button button-primary button-shadow" style="background: cornflowerblue;">You did it!</a>

                <!-- <embed height="500px" width="100%" src="https://www.gofundme.com/mvc.php?route=widgets/mediawidget&fund=forlove-aus&image=1&coinfo=1&preview=1" type="text/html"></embed> -->


							</p>
						</div>
                    </div>
                    <!-- <h3 class="hero-title mt-0 is-revealing" style="text-align: center;"><em>The world is changing, and what it becomes is up to us.</em></h3> -->

                </div>
            </section>
<section class="features section text-center" style="display: block;">
              <section class="features section text-center lateral">
                <div class="container">
                  <div class="features-inner section-inner has-top-divider">
                    <div class="features-wrap">
                      <div class="feature is-revealing single-col">
                        <p class=" mt-0" style="">Click the hearts on each embedded tweet, and help reach our entire list.</p>
												<br /><br />
												<div class="features-wrap" style="display: inline-flex;">
                          <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/kawhileonard?ref_src=twsrc%5Etfw">@kawhileonard</a> <a href="https://twitter.com/Yg_Trece?ref_src=twsrc%5Etfw">@Yg_Trece</a> <a href="https://twitter.com/blakegriffin23?ref_src=twsrc%5Etfw">@blakegriffin23</a> <a href="https://twitter.com/boogiecousins?ref_src=twsrc%5Etfw">@boogiecousins</a>  <a href="https://twitter.com/KDTrey5?ref_src=twsrc%5Etfw">@KDTrey5</a> <a href="https://twitter.com/KyrieIrving?ref_src=twsrc%5Etfw">@KyrieIrving</a> <a href="https://twitter.com/KembaWalker?ref_src=twsrc%5Etfw">@KembaWalker</a> <a href="https://twitter.com/Al_Horford?ref_src=twsrc%5Etfw">@Al_Horford</a> <a href="https://twitter.com/JimmyButler?ref_src=twsrc%5Etfw">@JimmyButler</a> <a href="https://twitter.com/drose?ref_src=twsrc%5Etfw">@drose</a><a href="https://twitter.com/hashtag/NBAFreeAgency?src=hash&amp;ref_src=twsrc%5Etfw">#NBAFreeAgency</a> isn&#39;t over. Can we recruit you to our team?<br><br>We&#39;re building answers for the <a href="https://twitter.com/hashtag/ClimateCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateCrisis</a><br><br>And we want you in.<a href="https://t.co/tE2fUfyHCQ">https://t.co/tE2fUfyHCQ</a><br><br>(1)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704616264830976?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>
                          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


                          <blockquote class="twitter-tweet" data-conversation="none" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">P.S. <a href="https://twitter.com/KingJames?ref_src=twsrc%5Etfw">@KingJames</a> <a href="https://twitter.com/AntDavis23?ref_src=twsrc%5Etfw">@AntDavis23</a> <a href="https://twitter.com/KlayThompson?ref_src=twsrc%5Etfw">@KlayThompson</a> <a href="https://twitter.com/Dame_Lillard?ref_src=twsrc%5Etfw">@Dame_Lillard</a> <a href="https://twitter.com/DianaTaurasi?ref_src=twsrc%5Etfw">@DianaTaurasi</a> <a href="https://twitter.com/Chiney321?ref_src=twsrc%5Etfw">@Chiney321</a><br><br>It&#39;ll basically be like <a href="https://twitter.com/hashtag/SpaceJam2?src=hash&amp;ref_src=twsrc%5Etfw">#SpaceJam2</a>, except instead of Monstars, you can dunk <a href="https://twitter.com/hashtag/GreenhouseGas?src=hash&amp;ref_src=twsrc%5Etfw">#GreenhouseGas</a> back into the ground.<a href="https://t.co/tE2fUfyHCQ">https://t.co/tE2fUfyHCQ</a><br><br>Whaddya think, <a href="https://twitter.com/DocRivers?ref_src=twsrc%5Etfw">@DocRivers</a>?<br><br>P.P.S <a href="https://twitter.com/kobebryant?ref_src=twsrc%5Etfw">@kobebryant</a> <a href="https://twitter.com/SHAQ?ref_src=twsrc%5Etfw">@SHAQ</a><br><br>(2)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704619905507328?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>
                          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-cards="hidden" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">Inspired by how you all <a href="https://twitter.com/hashtag/GiveBack?src=hash&amp;ref_src=twsrc%5Etfw">#GiveBack</a>, we want to team w/ you on answers for the <a href="https://twitter.com/hashtag/ClimateCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateCrisis</a> across the <a href="https://twitter.com/NBA?ref_src=twsrc%5Etfw">@NBA</a> community<a href="https://twitter.com/StephenCurry30?ref_src=twsrc%5Etfw">@StephenCurry30</a> <a href="https://twitter.com/paugasol?ref_src=twsrc%5Etfw">@paugasol</a> <a href="https://twitter.com/russwest44?ref_src=twsrc%5Etfw">@russwest44</a> <a href="https://twitter.com/Money23Green?ref_src=twsrc%5Etfw">@Money23Green</a> <a href="https://twitter.com/paulpierce34?ref_src=twsrc%5Etfw">@paulpierce34</a> <a href="https://twitter.com/MagicJohnson?ref_src=twsrc%5Etfw">@MagicJohnson</a> <a href="https://twitter.com/SteveNash?ref_src=twsrc%5Etfw">@SteveNash</a> <a href="https://twitter.com/carmeloanthony?ref_src=twsrc%5Etfw">@carmeloanthony</a> <a href="https://twitter.com/swish41?ref_src=twsrc%5Etfw">@swish41</a> <a href="https://twitter.com/DwyaneWade?ref_src=twsrc%5Etfw">@DwyaneWade</a><br><br>🌎<a href="https://t.co/tE2fUfyHCQ">https://t.co/tE2fUfyHCQ</a><br><br>(3)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704624380755969?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>

	  </div>
	  <br />
	  <div class="features-wrap" style="display: inline-flex;">

			<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/justinbieber?ref_src=twsrc%5Etfw">@justinbieber</a> <a href="https://twitter.com/katyperry?ref_src=twsrc%5Etfw">@katyperry</a> <a href="https://twitter.com/LiamPayne?ref_src=twsrc%5Etfw">@LiamPayne</a> <a href="https://twitter.com/ArianaGrande?ref_src=twsrc%5Etfw">@ArianaGrande</a> <a href="https://twitter.com/rihanna?ref_src=twsrc%5Etfw">@rihanna</a> <a href="https://twitter.com/taylorswift13?ref_src=twsrc%5Etfw">@taylorswift13</a> <a href="https://twitter.com/shakira?ref_src=twsrc%5Etfw">@shakira</a> <a href="https://twitter.com/Eminem?ref_src=twsrc%5Etfw">@Eminem</a><br><br>You have voices that move the 🌎<br><br>We protect it.<br><br>We&#39;re building answers for the <a href="https://twitter.com/hashtag/ClimateCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateCrisis</a>, and we want you on our team.<br><br>Will you sing with us?<br><br>🌎<a href="https://t.co/tE2fUfyHCQ">https://t.co/tE2fUfyHCQ</a><br><br>(4)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704628428247040?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>

			<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">^What about everyone who <a href="https://twitter.com/hashtag/LovesTheEarth?src=hash&amp;ref_src=twsrc%5Etfw">#LovesTheEarth</a>?<a href="https://twitter.com/lildickytweets?ref_src=twsrc%5Etfw">@lildickytweets</a> <a href="https://twitter.com/ArianaGrande?ref_src=twsrc%5Etfw">@ArianaGrande</a> <a href="https://twitter.com/SnoopDogg?ref_src=twsrc%5Etfw">@SnoopDogg</a> <a href="https://twitter.com/KevinHart4real?ref_src=twsrc%5Etfw">@KevinHart4real</a><a href="https://twitter.com/MileyCyrus?ref_src=twsrc%5Etfw">@MileyCyrus</a> <a href="https://twitter.com/wizkhalifa?ref_src=twsrc%5Etfw">@wizkhalifa</a> <a href="https://twitter.com/edsheeran?ref_src=twsrc%5Etfw">@edsheeran</a> <a href="https://twitter.com/backstreetboys?ref_src=twsrc%5Etfw">@backstreetboys</a> <a href="https://twitter.com/RitaOra?ref_src=twsrc%5Etfw">@RitaOra</a><a href="https://twitter.com/LilJon?ref_src=twsrc%5Etfw">@LilJon</a> <a href="https://twitter.com/JoelEmbiid?ref_src=twsrc%5Etfw">@JoelEmbiid</a> <a href="https://twitter.com/lilyachty?ref_src=twsrc%5Etfw">@lilyachty</a> <a href="https://twitter.com/halsey?ref_src=twsrc%5Etfw">@halsey</a> <a href="https://twitter.com/johnlegend?ref_src=twsrc%5Etfw">@johnlegend</a> <a href="https://twitter.com/Sia?ref_src=twsrc%5Etfw">@Sia</a><a href="https://twitter.com/Meghan_Trainor?ref_src=twsrc%5Etfw">@Meghan_Trainor</a> <a href="https://twitter.com/adamlevine?ref_src=twsrc%5Etfw">@adamlevine</a> <a href="https://twitter.com/dicapriofdn?ref_src=twsrc%5Etfw">@dicapriofdn</a><br><br>&amp; <a href="https://twitter.com/kanyewest?ref_src=twsrc%5Etfw">@kanyewest</a> 🌎<br><br>(5)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704638314287111?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>

<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/Thanos?src=hash&amp;ref_src=twsrc%5Etfw">#Thanos</a> is gone<br><br>But we still need <a href="https://twitter.com/hashtag/Avengers?src=hash&amp;ref_src=twsrc%5Etfw">#Avengers</a><br><br>We&#39;re building answers for the <a href="https://twitter.com/hashtag/ClimateCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateCrisis</a>.<br><br>Will you join our team?<a href="https://t.co/tE2fUfyHCQ">https://t.co/tE2fUfyHCQ</a><a href="https://twitter.com/RobertDowneyJr?ref_src=twsrc%5Etfw">@RobertDowneyJr</a> <a href="https://twitter.com/MarkRuffalo?ref_src=twsrc%5Etfw">@MarkRuffalo</a> <a href="https://twitter.com/chrishemsworth?ref_src=twsrc%5Etfw">@chrishemsworth</a> <a href="https://twitter.com/karengillan?ref_src=twsrc%5Etfw">@karengillan</a> <a href="https://twitter.com/brielarson?ref_src=twsrc%5Etfw">@brielarson</a> <a href="https://twitter.com/TessaThompson_x?ref_src=twsrc%5Etfw">@TessaThompson_x</a> <a href="https://twitter.com/zoesaldana?ref_src=twsrc%5Etfw">@zoesaldana</a> <a href="https://twitter.com/TomHolland1996?ref_src=twsrc%5Etfw">@TomHolland1996</a> <a href="https://twitter.com/SamuelLJackson?ref_src=twsrc%5Etfw">@SamuelLJackson</a><br><br>(6)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704640520425477?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>

	</div>
	<br />

	<div class="features-wrap" style="display: inline-flex; margin:0 auto;">

		<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">&quot;This is the fight of our lives.&quot; - <a href="https://twitter.com/ChrisEvans?ref_src=twsrc%5Etfw">@ChrisEvans</a><a href="https://twitter.com/chadwickboseman?ref_src=twsrc%5Etfw">@chadwickboseman</a> <a href="https://twitter.com/DaveBautista?ref_src=twsrc%5Etfw">@DaveBautista</a> <a href="https://twitter.com/prattprattpratt?ref_src=twsrc%5Etfw">@prattprattpratt</a> <a href="https://twitter.com/DanaiGurira?ref_src=twsrc%5Etfw">@DanaiGurira</a> <a href="https://twitter.com/DonCheadle?ref_src=twsrc%5Etfw">@DonCheadle</a> <a href="https://twitter.com/AnthonyMackie?ref_src=twsrc%5Etfw">@AnthonyMackie</a> <a href="https://twitter.com/EvangelineLilly?ref_src=twsrc%5Etfw">@EvangelineLilly</a> <a href="https://twitter.com/EdwardNorton?ref_src=twsrc%5Etfw">@EdwardNorton</a> <a href="https://twitter.com/joerogan?ref_src=twsrc%5Etfw">@joerogan</a> <a href="https://twitter.com/CaptainAmerica?ref_src=twsrc%5Etfw">@CaptainAmerica</a> <a href="https://twitter.com/JLo?ref_src=twsrc%5Etfw">@JLo</a> <a href="https://twitter.com/ladygaga?ref_src=twsrc%5Etfw">@ladygaga</a><br><br>🌎 &quot;Whatever it takes.&quot; 🌎 -<a href="https://twitter.com/Renner4Real?ref_src=twsrc%5Etfw">@Renner4Real</a><a href="https://t.co/tE2fUfyHCQ">https://t.co/tE2fUfyHCQ</a><br><br>(7)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704646451240961?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>

		<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/Maisie_Williams?ref_src=twsrc%5Etfw">@Maisie_Williams</a> <a href="https://twitter.com/SophieT?ref_src=twsrc%5Etfw">@SophieT</a> <a href="https://twitter.com/nikolajcw?ref_src=twsrc%5Etfw">@nikolajcw</a> <a href="https://twitter.com/emiliaclarke?ref_src=twsrc%5Etfw">@emiliaclarke</a> <a href="https://twitter.com/GRRMspeaking?ref_src=twsrc%5Etfw">@GRRMspeaking</a><br><br>In real life, the <a href="https://twitter.com/hashtag/NightKing?src=hash&amp;ref_src=twsrc%5Etfw">#NightKing</a> lives, and the long night marches closer.<br><br>We need every man, woman, and child to help stop it.<br><br>Will you join our fight against the <a href="https://twitter.com/hashtag/ClimateCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateCrisis</a>?<br><br>🌎<a href="https://t.co/tE2fUfyHCQ">https://t.co/tE2fUfyHCQ</a><br><br>(8)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704648833536002?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>

		<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/RickandMorty?ref_src=twsrc%5Etfw">@rickandmorty</a><br><br>&quot;Uhm, Grandpa <a href="https://twitter.com/JustinRoiland?ref_src=twsrc%5Etfw">@JustinRoiland</a>?<br><br>Do you have anything that could like .. stop the <a href="https://twitter.com/hashtag/ClimateCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateCrisis</a>?<br><br>.. Because, you know, its .. its .. its pretty f*cked up alright!<br><br>Its r-REALLY f*cked up, Rick!  And we havent done sh-SHIT about it!<br><br>So can we JOIN these guys?&quot;<br><br>(9)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704656110718977?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>


	</div>

	<div class="features-wrap" style="display: inline-flex; margin:0 auto;">

		<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/SouthPark?ref_src=twsrc%5Etfw">@SouthPark</a><br><br>🎵 WEEELLLLL 🎵<br><br>&quot;<a href="https://twitter.com/hashtag/ClimateChange?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateChange</a>&#39;s a b -&quot;<br><br>... Well, you know the rest.<br><br>We&#39;re building answers for the <a href="https://twitter.com/hashtag/ClimateCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateCrisis</a>.<br><br>Matt, Trey, and <a href="https://twitter.com/algore?ref_src=twsrc%5Etfw">@AlGore</a>, we want your brains and hearts on our team.<br><br>Will you join our fight against <a href="https://twitter.com/hashtag/ManBearPig?src=hash&amp;ref_src=twsrc%5Etfw">#ManBearPig</a>?<a href="https://t.co/tE2fUfyHCQ">https://t.co/tE2fUfyHCQ</a><br><br>(10)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704662913826822?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>

		<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">To the real-life <a href="https://twitter.com/hashtag/Planeteers?src=hash&amp;ref_src=twsrc%5Etfw">#Planeteers</a>:<a href="https://twitter.com/EmmaWatson?ref_src=twsrc%5Etfw">@EmmaWatson</a> <a href="https://twitter.com/EmmaThompson90?ref_src=twsrc%5Etfw">@EmmaThompson90</a> <a href="https://twitter.com/CameronDiaz?ref_src=twsrc%5Etfw">@CameronDiaz</a> <a href="https://twitter.com/dhlovelife?ref_src=twsrc%5Etfw">@dhlovelife</a> <a href="https://twitter.com/tomhanks?ref_src=twsrc%5Etfw">@tomhanks</a> <a href="https://twitter.com/SrBachchan?ref_src=twsrc%5Etfw">@SrBachchan</a> <a href="https://twitter.com/TheRock?ref_src=twsrc%5Etfw">@TheRock</a> <a href="https://twitter.com/shailenewoodley?ref_src=twsrc%5Etfw">@shailenewoodley</a> <br><br>We&#39;re building answers for the <a href="https://twitter.com/hashtag/ClimateCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateCrisis</a><a href="https://t.co/tE2fUfyHCQ">https://t.co/tE2fUfyHCQ</a><br><br>Will you join us?<br><br>🌎 *Let our powers COMBINE!* 🌎 - <a href="https://twitter.com/LeoDiCaprio?ref_src=twsrc%5Etfw">@LeoDiCaprio</a> <br><br>(11)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704678088892416?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>

		<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">^ <a href="https://twitter.com/hashtag/Planeteers?src=hash&amp;ref_src=twsrc%5Etfw">#Planeteers</a>, we&#39;re building answers for the <a href="https://twitter.com/hashtag/ClimateCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateCrisis</a><br><br>Will you join us?<a href="https://twitter.com/rosariodawson?ref_src=twsrc%5Etfw">@rosariodawson</a> <a href="https://twitter.com/ActuallyNPH?ref_src=twsrc%5Etfw">@ActuallyNPH</a> <a href="https://twitter.com/OfficialJLD?ref_src=twsrc%5Etfw">@OfficialJLD</a> <a href="https://twitter.com/stephenfry?ref_src=twsrc%5Etfw">@stephenfry</a><a href="https://twitter.com/rustyrockets?ref_src=twsrc%5Etfw">@rustyrockets</a> <a href="https://twitter.com/simonpegg?ref_src=twsrc%5Etfw">@simonpegg</a> <a href="https://twitter.com/aplusk?ref_src=twsrc%5Etfw">@aplusk</a> <a href="https://twitter.com/CharlizeAfrica?ref_src=twsrc%5Etfw">@CharlizeAfrica</a><a href="https://twitter.com/MMFlint?ref_src=twsrc%5Etfw">@MMFlint</a> <a href="https://twitter.com/GhostPanther?ref_src=twsrc%5Etfw">@GhostPanther</a> <a href="https://twitter.com/DarrenAronofsky?ref_src=twsrc%5Etfw">@DarrenAronofsky</a> <a href="https://twitter.com/DRexplore?ref_src=twsrc%5Etfw">@DRexplore</a><br><br>🌎 *Gooo PLANET!* 🌎 - <a href="https://twitter.com/captainplanetfd?ref_src=twsrc%5Etfw">@captainplanetfd</a><br><br>(12)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704685454004227?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>



	</div>

	<div class="features-wrap" style="display: inline-flex; margin:0 auto;">

		<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">To the leaders at <a href="https://twitter.com/hashtag/SunValley?src=hash&amp;ref_src=twsrc%5Etfw">#SunValley</a><a href="https://twitter.com/satyanadella?ref_src=twsrc%5Etfw">@satyanadella</a> <a href="https://twitter.com/KimPegula?ref_src=twsrc%5Etfw">@KimPegula</a> <a href="https://twitter.com/tim_cook?ref_src=twsrc%5Etfw">@tim_cook</a> <a href="https://twitter.com/WarrenBuffett?ref_src=twsrc%5Etfw">@WarrenBuffett</a> <a href="https://twitter.com/MichaelDell?ref_src=twsrc%5Etfw">@MichaelDell</a> <a href="https://twitter.com/bchesky?ref_src=twsrc%5Etfw">@bchesky</a> <a href="https://twitter.com/reidhoffman?ref_src=twsrc%5Etfw">@reidhoffman</a> <a href="https://twitter.com/JeffBezos?ref_src=twsrc%5Etfw">@JeffBezos</a> <a href="https://twitter.com/shelbybonnie?ref_src=twsrc%5Etfw">@shelbybonnie</a> <a href="https://twitter.com/ErinBurnett?ref_src=twsrc%5Etfw">@ErinBurnett</a> <a href="https://twitter.com/GayleKing?ref_src=twsrc%5Etfw">@GayleKing</a><br><br>We&#39;re making deals for the <a href="https://twitter.com/hashtag/ClimateCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateCrisis</a>, and we want you on our team.<a href="https://t.co/tE2fUfyHCQ">https://t.co/tE2fUfyHCQ</a><br><br>🌎<br><br>(13)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704697760178177?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>


		<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">^ P.S. <a href="https://twitter.com/BobbyKotick?ref_src=twsrc%5Etfw">@BobbyKotick</a> <a href="https://twitter.com/PalantirTech?ref_src=twsrc%5Etfw">@PalantirTech</a> <a href="https://twitter.com/BrianGrazer?ref_src=twsrc%5Etfw">@BrianGrazer</a> <a href="https://twitter.com/CharlieRivkin?ref_src=twsrc%5Etfw">@CharlieRivkin</a> <a href="https://twitter.com/RobertIger?ref_src=twsrc%5Etfw">@RobertIger</a> <a href="https://twitter.com/eldsjal?ref_src=twsrc%5Etfw">@eldsjal</a> <a href="https://twitter.com/dhmeyer?ref_src=twsrc%5Etfw">@dhmeyer</a> <a href="https://twitter.com/caseywasserman?ref_src=twsrc%5Etfw">@caseywasserman</a> <a href="https://twitter.com/peterthiel?ref_src=twsrc%5Etfw">@peterthiel</a> <a href="https://twitter.com/stewart?ref_src=twsrc%5Etfw">@stewart</a><br><br>We&#39;re building answers for the <a href="https://twitter.com/hashtag/ClimateCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateCrisis</a>.<a href="https://twitter.com/RichardJRiordan?ref_src=twsrc%5Etfw">@RichardJRiordan</a> <a href="https://twitter.com/CowherCBS?ref_src=twsrc%5Etfw">@CowherCBS</a> <a href="https://twitter.com/BillGates?ref_src=twsrc%5Etfw">@BillGates</a> <a href="https://twitter.com/ksadjadpour?ref_src=twsrc%5Etfw">@ksadjadpour</a><br><br>Will you join us?<a href="https://t.co/tE2fUfyHCQ">https://t.co/tE2fUfyHCQ</a><br><br>(14)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704699723112449?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>


		<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">Hey <a href="https://twitter.com/NopixelRP?ref_src=twsrc%5Etfw">@NopixelRP</a>,<br><br>We&#39;re building answers for the <a href="https://twitter.com/hashtag/ClimateCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateCrisis</a>, and we want you on your team.<br><br>You in?<br><br>🌎 <a href="https://twitter.com/hashtag/DontPermaEarth?src=hash&amp;ref_src=twsrc%5Etfw">#DontPermaEarth</a> 🌎<a href="https://t.co/tE2fUfyHCQ">https://t.co/tE2fUfyHCQ</a><a href="https://twitter.com/SSaab45?ref_src=twsrc%5Etfw">@SSaab45</a> <a href="https://twitter.com/LIRIK?ref_src=twsrc%5Etfw">@LIRIK</a> <a href="https://twitter.com/pokelawls?ref_src=twsrc%5Etfw">@pokelawls</a> <a href="https://twitter.com/KylieBitkin?ref_src=twsrc%5Etfw">@KylieBitkin</a> <a href="https://twitter.com/summit1g?ref_src=twsrc%5Etfw">@summit1g</a> <a href="https://twitter.com/timthetatman?ref_src=twsrc%5Etfw">@timthetatman</a> <a href="https://twitter.com/shortyyguy?ref_src=twsrc%5Etfw">@shortyyguy</a> <a href="https://twitter.com/VaderRP?ref_src=twsrc%5Etfw">@VaderRP</a> <a href="https://twitter.com/Kitboga?ref_src=twsrc%5Etfw">@Kitboga</a> <a href="https://twitter.com/Sodapoppintv?ref_src=twsrc%5Etfw">@Sodapoppintv</a> <a href="https://twitter.com/AshlynnArias?ref_src=twsrc%5Etfw">@AshlynnArias</a><br><br>(15)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704704642965506?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>




	</div>

	<div class="features-wrap" style="display: inline-flex; margin:0 auto;">

		<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">Hey <a href="https://twitter.com/itskoli?ref_src=twsrc%5Etfw">@itskoli</a> and the gang,<br><br>We&#39;re <a href="https://twitter.com/hashtag/roleplaying?src=hash&amp;ref_src=twsrc%5Etfw">#roleplaying</a> Captain Planet and building answers for the <a href="https://twitter.com/hashtag/ClimateCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateCrisis</a>.<br><br>Will you join us?<a href="https://t.co/tE2fUfyHCQ">https://t.co/tE2fUfyHCQ</a><br><br>🌎 <a href="https://twitter.com/hashtag/DontPermaEarth?src=hash&amp;ref_src=twsrc%5Etfw">#DontPermaEarth</a> 🌎<a href="https://twitter.com/MiltonTPike1?ref_src=twsrc%5Etfw">@MiltonTPike1</a> <a href="https://twitter.com/Thebuddha_3?ref_src=twsrc%5Etfw">@Thebuddha_3</a> <a href="https://twitter.com/autoloon?ref_src=twsrc%5Etfw">@autoloon</a> <a href="https://twitter.com/Forsen?ref_src=twsrc%5Etfw">@Forsen</a> <a href="https://twitter.com/Greekgodx?ref_src=twsrc%5Etfw">@Greekgodx</a> <a href="https://twitter.com/CheekyFerret_?ref_src=twsrc%5Etfw">@CheekyFerret_</a> <a href="https://twitter.com/ZiggyJG?ref_src=twsrc%5Etfw">@ZiggyJG</a> <a href="https://twitter.com/Poofychan?ref_src=twsrc%5Etfw">@poofychan</a><br><br>(16)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704708183007232?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>



		<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">To the <a href="https://twitter.com/hashtag/teachers?src=hash&amp;ref_src=twsrc%5Etfw">#teachers</a>:<br><br>We&#39;re building answers for the <a href="https://twitter.com/hashtag/ClimateCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateCrisis</a>, and we want you on our team.<a href="https://t.co/tE2fUfyHCQ">https://t.co/tE2fUfyHCQ</a><br><br>Will you join us?<br><br>🌎<a href="https://twitter.com/tferriss?ref_src=twsrc%5Etfw">@tferriss</a> <a href="https://twitter.com/slatestarcodex?ref_src=twsrc%5Etfw">@slatestarcodex</a> <a href="https://twitter.com/ezraklein?ref_src=twsrc%5Etfw">@ezraklein</a> <a href="https://twitter.com/RalphNader?ref_src=twsrc%5Etfw">@RalphNader</a> <a href="https://twitter.com/waitbutwhy?ref_src=twsrc%5Etfw">@waitbutwhy</a> <a href="https://twitter.com/paulg?ref_src=twsrc%5Etfw">@paulg</a> <a href="https://twitter.com/quinnnorton?ref_src=twsrc%5Etfw">@quinnnorton</a> <a href="https://twitter.com/tylercowen?ref_src=twsrc%5Etfw">@tylercowen</a> <a href="https://twitter.com/wrong_less?ref_src=twsrc%5Etfw">@wrong_less</a> <a href="https://twitter.com/KelseyTuoc?ref_src=twsrc%5Etfw">@KelseyTuoc</a> <a href="https://twitter.com/TonyRobbins?ref_src=twsrc%5Etfw">@TonyRobbins</a><br><br>(17)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704715007135744?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>



		<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">^ To the <a href="https://twitter.com/hashtag/thoughtleaders?src=hash&amp;ref_src=twsrc%5Etfw">#thoughtleaders</a>:<br><br>We&#39;re building answers for the <a href="https://twitter.com/hashtag/ClimateCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateCrisis</a>, and we want you on our team.<br><br>🌎<a href="https://twitter.com/stevenbjohnson?ref_src=twsrc%5Etfw">@stevenbjohnson</a> <a href="https://twitter.com/SheaSerrano?ref_src=twsrc%5Etfw">@SheaSerrano</a> <a href="https://twitter.com/SalmanRushdie?ref_src=twsrc%5Etfw">@SalmanRushdie</a> <a href="https://twitter.com/mtaibbi?ref_src=twsrc%5Etfw">@mtaibbi</a> <a href="https://twitter.com/sullydish?ref_src=twsrc%5Etfw">@sullydish</a> <a href="https://twitter.com/nytdavidbrooks?ref_src=twsrc%5Etfw">@nytdavidbrooks</a> <a href="https://twitter.com/Shteyngart?ref_src=twsrc%5Etfw">@Shteyngart</a> <a href="https://twitter.com/claychristensen?ref_src=twsrc%5Etfw">@claychristensen</a> <a href="https://twitter.com/DanielBurrus?ref_src=twsrc%5Etfw">@DanielBurrus</a> <a href="https://twitter.com/ShashiTharoor?ref_src=twsrc%5Etfw">@ShashiTharoor</a> <a href="https://twitter.com/LoriGreiner?ref_src=twsrc%5Etfw">@LoriGreiner</a> <a href="https://twitter.com/Zak_Bagans?ref_src=twsrc%5Etfw">@Zak_Bagans</a><br><br>(18)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704721730625538?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>


	</div>

	<div class="features-wrap" style="display: inline-flex; margin:0 auto;">

		<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">To the <a href="https://twitter.com/hashtag/storytellers?src=hash&amp;ref_src=twsrc%5Etfw">#storytellers</a>:<br><br>We&#39;re building answers for the <a href="https://twitter.com/hashtag/ClimateCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateCrisis</a>, and we want you on our team.<a href="https://t.co/tE2fUfyHCQ">https://t.co/tE2fUfyHCQ</a><br><br>Will you help tell the story?<a href="https://twitter.com/jk_rowling?ref_src=twsrc%5Etfw">@jk_rowling</a> <a href="https://twitter.com/StephenKing?ref_src=twsrc%5Etfw">@StephenKing</a> <a href="https://twitter.com/khaledhosseini?ref_src=twsrc%5Etfw">@khaledhosseini</a> <a href="https://twitter.com/neilhimself?ref_src=twsrc%5Etfw">@neilhimself</a><a href="https://twitter.com/paulocoelho?ref_src=twsrc%5Etfw">@paulocoelho</a> <a href="https://twitter.com/tejucole?ref_src=twsrc%5Etfw">@tejucole</a> <a href="https://twitter.com/JoyceCarolOates?ref_src=twsrc%5Etfw">@JoyceCarolOates</a> <a href="https://twitter.com/E_L_James?ref_src=twsrc%5Etfw">@E_L_James</a> <a href="https://twitter.com/chelseahandler?ref_src=twsrc%5Etfw">@chelseahandler</a><br><br>19</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704727321632769?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>

		<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">To the <a href="https://twitter.com/hashtag/worldbuilders?src=hash&amp;ref_src=twsrc%5Etfw">#worldbuilders</a>:<br><br>We&#39;re building answers for the <a href="https://twitter.com/hashtag/ClimateCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#ClimateCrisis</a>, and we want you on our team.<a href="https://t.co/tE2fUfyHCQ">https://t.co/tE2fUfyHCQ</a><br><br>Will you help tell this story?<a href="https://twitter.com/ava?ref_src=twsrc%5Etfw">@ava</a> <a href="https://twitter.com/JordanPeele?ref_src=twsrc%5Etfw">@JordanPeele</a> <a href="https://twitter.com/andyweirauthor?ref_src=twsrc%5Etfw">@andyweirauthor</a> <a href="https://twitter.com/jeffvandermeer?ref_src=twsrc%5Etfw">@jeffvandermeer</a> <a href="https://twitter.com/JimCameron?ref_src=twsrc%5Etfw">@JimCameron</a> <a href="https://twitter.com/PhyllisNagy?ref_src=twsrc%5Etfw">@PhyllisNagy</a> <a href="https://twitter.com/AlexGarland?ref_src=twsrc%5Etfw">@alexgarland</a> <a href="https://twitter.com/jackiejcollins?ref_src=twsrc%5Etfw">@jackiejcollins</a> <a href="https://twitter.com/IrvineWelsh?ref_src=twsrc%5Etfw">@IrvineWelsh</a><br><br>(20)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704734074396672?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>


		<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">^ P.S.<a href="https://twitter.com/mattreevesLA?ref_src=twsrc%5Etfw">@mattreevesLA</a> <a href="https://twitter.com/RealGDT?ref_src=twsrc%5Etfw">@RealGDT</a> <a href="https://twitter.com/jjabrams?ref_src=twsrc%5Etfw">@jjabrams</a> <a href="https://twitter.com/edgarwright?ref_src=twsrc%5Etfw">@edgarwright</a> <a href="https://twitter.com/DSChazelle?ref_src=twsrc%5Etfw">@DSChazelle</a> <a href="https://twitter.com/DannyBoyle87?ref_src=twsrc%5Etfw">@DannyBoyle87</a> <a href="https://twitter.com/jamesjwan?ref_src=twsrc%5Etfw">@jamesjwan</a> <a href="https://twitter.com/TaikaWaititi?ref_src=twsrc%5Etfw">@TaikaWaititi</a> <a href="https://twitter.com/TerryGilliam?ref_src=twsrc%5Etfw">@TerryGilliam</a> <a href="https://twitter.com/BonafideBlack?ref_src=twsrc%5Etfw">@BonafideBlack</a><br><br>Let&#39;s make it come true.<br><br>🌎<a href="https://twitter.com/Lilfilm?ref_src=twsrc%5Etfw">@Lilfilm</a> <a href="https://twitter.com/DougLiman?ref_src=twsrc%5Etfw">@DougLiman</a> <a href="https://twitter.com/PeterGuber?ref_src=twsrc%5Etfw">@PeterGuber</a> <a href="https://twitter.com/RobLowe?ref_src=twsrc%5Etfw">@RobLowe</a> <a href="https://twitter.com/alfonsocuaron?ref_src=twsrc%5Etfw">@alfonsocuaron</a> <a href="https://twitter.com/rianjohnson?ref_src=twsrc%5Etfw">@rianjohnson</a> <a href="https://twitter.com/joedunthorne?ref_src=twsrc%5Etfw">@joedunthorne</a> <a href="https://twitter.com/ribbonfarm?ref_src=twsrc%5Etfw">@ribbonfarm</a> <a href="https://twitter.com/99piorg?ref_src=twsrc%5Etfw">@99piorg</a> <a href="https://twitter.com/joss?ref_src=twsrc%5Etfw">@joss</a><br><br>(21)</p>&mdash; Time To Solve (@TimeToSolve) <a href="https://twitter.com/TimeToSolve/status/1149704737778016257?ref_src=twsrc%5Etfw">July 12, 2019</a></blockquote>

	</div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </section>

<% provide :title, 'Building Answers for the Climate Crisis' %>


        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
                        <a href="#">
                            <!-- <img src="dist/images/logo.svg" alt="Blue logo"> -->
                        </a>
                    </div>
                    <ul class="footer-links list-reset">
                        <li>
                          <a href="mailto:team@timetosolve.com">
                            team@timetosolve.com
                          </a>
                        </li>
                        <!-- <li>
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <a href="#">FAQ's</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li> -->
                    </ul>
                    <ul class="footer-social-links list-reset">
                        <!-- <li>
                            <a href="#">
                                <span class="screen-reader-text">Facebook</span>
                                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z" fill="#FFF"/>
                                </svg>
                            </a>
                        </li> -->
                        <li>
                            <a href="twitter.com/TimeToSolve">
                                <span class="screen-reader-text">Twitter</span>
                                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 3c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4C.7 7.7 1.8 9 3.3 9.3c-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H0c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4C15 4.3 15.6 3.7 16 3z" fill="#FFF"/>
                                </svg>
                            </a>
                        </li>
                        <li style="padding: 0px; margin-top: -5px;">
                            <a href="https://discord.gg/eFD6SaF">
                          <img src="src/images/Discord-Logo-White copy.svg" width="30" height="25" />
                        </li>
                    </ul>
                    <div class="footer-copyright">&copy; 2019 TimeToSolve, all rights reserved</div>
                </div>
            </div>
        </footer>
    </div>

    <script src="dist/js/main.min.js"></script>
</body>
</html>
