.features-header {
	margin-bottom: 32px;
}

figure {
	@include media ("<650px") {
		margin: auto !important;
		margin-top: 30px !important;
		display: block !important;
	}
}

.twitter-tweet {
		margin: 0 auto !important;
	// min-width: 0px !important;
	// margin-left: 10px;
	// margin-right: 10px;
	// max-width: 320px !important;
}

.features-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -12px;
    margin-left: -12px;
	margin-top: -12px;

	&:last-of-type {
		margin-bottom: -12px;
	}

    &:not(:last-of-type) {
        margin-bottom: 12px;
    }
}

.feature {
    padding: 12px;
    width: 276px;
    //max-width: 276px;
    flex-grow: 1;
}

.feature-inner {
    position: relative;
    height: 100%;
    background: color(bg, 1);
    padding: 40px 24px;
	@include shadow;
}

.feature-icon {
    display: flex;
    justify-content: center;
}

@include media( '>medium' ) {

    .features {

		.section-paragraph {
            padding-left: 72px;
            padding-right: 72px;
        }
    }

	.features-header {
		margin-bottom: 64px;
	}
}

.roadmap-point {
	padding-left: 2rem;
	padding-right: 2rem;

	h3 {
		font-size: 18px;
	}
}

.roadmap-header {
	@include divider(after);
}

ul.roadmap {

	list-style: none;

	li.complete:before {
  content: '✓';
	width: 16px;
	//height: 12px;
	margin-right: 12px;
	color: #00c7fa;
	}

	li:before {
	content: '✓';
	width: 16px;
	//height: 12px;
	margin-right: 12px;
	}



	li {
			color: color(typography, 3);
			display: flex;
			align-items: center;
			margin-bottom: 12px;
}
}
