#progressive-validation > * {
  box-sizing:border-box !important;
  transition:.25s ease-in-out !important;
}

// html,body {
//   background-color:#bcccd2;
// }

#progressive-validation {
  // width:400px;
  // margin:100px auto 0 auto;
    input, div {
      display:block;
      border-radius:5px;
      border:none;
      background:white;
      font-family:helvetica neue,helvetica,arial,sans-serif;
      font-size:16px;
      line-height:16px;
      font-weight:200;
      width:100%;
      padding:15px;
      margin:0 0 10px 0;
      opacity:0;
      //original value of 0.2 above
      outline:none;
      box-shadow:0 0 0 1px rgba(0,0,0,.0);
      background-image:url(https://dl.dropboxusercontent.com/u/17846948/codepen/valid-checkmark.png);
        background-size: 0px 0px;
        background-position:right 23px;
        background-repeat:no-repeat;
      &[type="submit"],&[type="submit"]:valid{
        background-color:#1a3e4c;
        color:white;
        background-image:none;
      }
      &:focus {
        box-shadow:0 0 0 1px #00aeef;
        opacity:1 !important;
      }
      &:enabled {
        opacity:.8;
      }
      &:valid {
        background-image:url(https://dl.dropboxusercontent.com/u/17846948/codepen/valid-checkmark.png);
        background-size: 46px 46px;
        background-position:right 0px;
        background-repeat:no-repeat;
      }
    }
}
